IndentWidth: 4
BasedOnStyle: LLVM
ColumnLimit: 100
IndentAccessModifiers: false
AccessModifierOffset: -4
PointerAlignment: Left
BinPackParameters: false
BinPackArguments: false
PackConstructorInitializers: NextLineOnly
AlignAfterOpenBracket: BlockIndent # DontAlign
AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine: false
BreakBinaryOperations: RespectPrecedence
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: MultiLine
